<footer>
    <div class="footer-container">
      <p>Todos los derechos reservados &copy; 2023 - El Mercadito de Lele</p>
      <div class="social-links">
        <a href="https://www.instagram.com/mercaditodelele" target="_blank"><img src="/Web/WebImages/instagram.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/tu_usuario_facebook" target="_blank"><img src="/Web/WebImages/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/mercaditodelele" target="_blank"><img src="/Web/WebImages/twitter.png" alt="Twitter"></a>
        
      </div>
    </div>
    <link rel="stylesheet" href="/Web/css/pie.css">
  </footer>
  